# For full config options, check the docs:
#    docs.serverless.com

service: certs-to-acm

provider:
  name: aws
  runtime: nodejs14.x
  memorySize: 256
  timeout: 20
  lambdaHashingVersion: "20201221"

  stage: prod
  region: us-east-1

  iam:
    role: arn:aws:iam::123456789:role/letsencrypt-lambda-role

  environment:
    STAGE: ${self:provider.stage}
    REGION: ${self:provider.region}

plugins:
  - serverless-plugin-typescript

package:
  exclude:
    - serverless.yml.example

functions:
  main:
    handler: handler.main

    events:
      - sns: arn:aws:sns:us-east-1:123456789:letsencrypt-certs
